dev:
  BUCKET_NAME: "mr-virtual-concierge-dev"
  SLACK_API_TOKEN: "xoxb-xxxxxxxxxxxx-xxxxxxxxxxxxx-xxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
  SLACK_CHANNEL_ID: "XXXXXXXXXX"
  REKOGNITION_COLLECTION_ID: "vc-collection"
  IOT_TOPIC: "$aws/things/deeplens_XXXXXXXXXXXXXXXX_w/infer"
